{{!-- get the latest posts --}}

<div>
    {{!-- we have created mock data, --}}
<li><h1>Post Title</h1><p>post description</p><p>Posted by Author(post author)</p><p>12/12/2022(post date)</p></li>

</div>