<div>
<label>Email</label><input id="email" type="email"/>

<label>Password</label><input id="password" type="password"/>

<button>Login</button><button>Signup</button>
</div>

<script src="./js/login"></script>